/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --body-text-color: #353430;
  --main-bg-color: #fff1f7;
  --header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover: #32312d66;
  --title-section-color: #353430;
  --title-article-color: #353430;
  --page-bg-color: #ff8dcb;
  --link-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --body-text-color: #353430;
  --main-bg-color: #fff1f7;
  --header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover: #32312d66;
  --title-section-color: #353430;
  --title-article-color: #353430;
  --page-bg-color: #ff8dcb;
  --link-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-text-color: #353430;
    --main-bg-color: #fff1f7;
    --header-color: #ffc2e6;
    --button-color: #353430;
    --button-hover: #32312d66;
    --title-section-color: #353430;
    --title-article-color: #1a1813;
    --page-bg-color: #ff8dcb;
    --link-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
  }
}

.theme-light .rec {
  display: none;
}
