/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  padding: var(--main-padding);
  color: var(--body-text-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--main-padding);
}

.decorated-zone {
  position: relative;
  height: 100vh;
  min-height: 668px;
}
/* правый уголок */
.decorated-zone::before {
  content: "";
  position: absolute;
  inset: var(--main-padding);
  justify-self: end;
  width: 20px;
  height: 20px;
  border-top: 2px solid var(--button-color);
  border-right: 2px solid var(--button-color);
}
/* левый уголок */
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--button-color);
  border-left: 2px solid var(--button-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--button-color);
  text-align: center;
  text-transform: var(--button-text-transform);
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

/*
.header__theme-menu-button:active {
  outline: 1px solid var(--button-color);
} */

.header__title,
.footer__title {
  color: var(--header-color);
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  width: 100%;
  color: var(--title-article-color);
  font-weight: var(--bold-font-weight);
  background-color: var(--page-bg-color);
}

.rec {
  position: absolute;
  top: var(--main-padding);
  display: inline-block;
  margin-right: calc(var(--main-padding) + 28px);
}

.rec::before {
  content: "REC";
  color: var(--button-color);
}

.rec::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -18px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--button-color);
  color: var(--button-color);
  background-color: var(--button-color);
  block-size: 5px;
  inline-size: 5px;
}
.page__main {
  padding: var(--main-padding);
}

.content {
  display: grid;
  grid-auto-flow: row;
  gap: var(--header-gap);
}

.main-content__title {
  color: var(--content-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
}

.main-content__articles {
  display: grid;
  gap: 20px;
}

.page__concentration-factors {
  margin-top: var(--main-page-gap);
}

.main-content__article {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 10px;
  font-weight: var(--font-weight);
}

.main-content__articles > .article__title {
  color: var(--title-article-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
  background-color: var(--page-bg-color);
}

.page__focus-tips {
  margin-top: 80px;
  font-weight: var(--font-weight);
}

.content__description {
  color: var(--title-article-color);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--page-bg-color);
}

.article__text {
  color: var(--body-text-color);
  font-weight: var(--font-weight);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
}

.content__title {
  margin-top: 79px;
  color: var(--title-article-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  background-color: var(--page-bg-color);
}

.title-decor {
  color: var(--title-article-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
  background-color: var(--page-bg-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color);
}

.link:hover {
  border-bottom: 1px solid var(--body-text-color);
  outline: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--body-text-color);
}

.visuals__gallery {
  display: grid;
  gap: var(--main-padding);
}

.visuals__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
}

/* */
@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --padding-block: 60px;
    --main-page-gap: 80px;
  }

  .text__concentration-factors {
    gap: 20px;
  }

  .page__focus-challenges,
  .page__focus-tips {
    grid-template-columns: 1fr 2fr;
  }

  .page__focus-visuals,
  .main-content__article {
    gap: 10px;
  }

  .header__title {
    justify-self: left;
    margin-left: -10px;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    width: calc(100% / 2);
  }

  .visuals__image:first-child {
    grid-column: span 2;
  }

  .visuals__image:nth-child(2) {
    grid-row: span 2;
  }

  .visuals__image:nth-child(3) {
    grid-row: span 2;
  }

  .visuals__image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/3;
  }
}

/* */
@media (width >= 1024px) {
  .page__concentration-factors .main-content__articles {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
  .page__focus-challenges .page__focus-tips {
    grid-template-columns: calc((100% - 2 * var(--header-gap)) / 3) 1fr;
  }
  .focus-challenges {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
}
