/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: IBM Plex Mono, monospace;
  --main-font-size: 18px;
  --line-height: 23.4px;
  --font-weight: 400;
  --bold-font-weight: 700;
  --button-text-transform: lowercase;
  --visibility: visible;

  --shadow-color: #ff0070;
  --body-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --header-color: #db00ff;
  --button-color: #ff0070;
  --button-hover: #ff007066;
  --title-section-color: #ff0070;
  --title-article-color: #000028;
  --page-bg-color: #ff0070;
  --link-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");

  --main-padding: 10px;
  --padding-block: 40px;
  --main-page-gap: 50px;
  --header-gap: 20px;
  --main-content-gap: 20px;
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --padding-block: 60px;
    --main-page-gap: 80px;
  }
}
